body {
    font-family: 'Inter', sans-serif;
}

.header {
    font-size: 20px;
}

.content-body {
    font-size: 12px;
}

.content-body p {
    margin: 0;
}

.content-body input[type="text"] {
    font-size: 12px;
}

.demand-list {
    display: inline-block;
}

.demand-data-list {
    list-style: none;
    padding-left: 0;
}